{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 1200,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity":"ignore"
}